{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<div class="stick">
<center><p><h1>Welcome to Stick notes!</h1></p></center>
<hr>
  <ul>
    <li>
      <a href="#">
        <h2>Title #1</h2>
        <p>Text Content #1</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #2</h2>
        <p>Text Content #2</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #3</h2>
        <p>Text Content #3</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #4</h2>
        <p>Text Content #4</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #5</h2>
        <p>Text Content #5</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #6</h2>
        <p>Text Content #6</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #7</h2>
        <p>Text Content #7</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #8</h2>
        <p>Text Content #8</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #9</h2>
        <p>Text Content #9</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #10</h2>
        <p>Text Content #10</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #11</h2>
        <p>Text Content #11</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #12</h2>
        <p>Text Content #12</p>
      </a>
    </li>
  </ul>
</div>


<!-- Container (Scrum Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center"><br><br>
    <h2>Scrums</h2>
    <h4>Choose a plan that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-3 col-xs-12">
      <div class="panel panel-info text-center">
        <div class="panel-heading">
          <h1>Ice Cube</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3></h3>
          <h4></h4>
          <button class="btn btn-lg">view all</button>
        </div>
      </div>      
    </div> 
    <div class="col-sm-3 col-xs-12">
      <div class="panel panel-warning text-center">
        <div class="panel-heading">
          <h1>Important</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3></h3>
          <h4></h4>
          <button class="btn btn-lg">view all</button>
        </div>
      </div>      
    </div>         
    <div class="col-sm-3 col-xs-12">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h1>Progress</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3></h3>
          <h4></h4>
          <button class="btn btn-lg">view all</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-3 col-xs-12">
      <div class="panel panel-success text-center">
        <div class="panel-heading">
          <h1>Completed</h1>
        </div>
        <div class="panel-body">
          <p><strong>0</strong> Lorem</p>
          <p><strong>1</strong> Ipsum</p>
          <p><strong>2</strong> Dolor</p>
          <p><strong>3</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3></h3>
          <h4></h4>
          <button class="btn btn-lg">view all</button>
        </div>
      </div>      
    </div>    
  </div>
</div>





{% endblock %}