{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <br><br><br>

    <div class="stick">
        <center>
            <h1>Welcome to Stick notes!</h1>
              {% if messages %}
            {% for message in messages %}

                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <span>{{ message }}</span>
                </div>

            {% endfor %}
        {% endif %}
        </center>

        <hr>
        <ul>

            {% for note in notes %}
                <li>
                    <a href="{{ note.get_absolute_url }}">
                        <h2>{{ note.title }}</h2>
                        <p>{{ note.content|truncatechars:25 }}</p>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>


{% endblock %}